@import "../css/reset.css";
@import "../css/header.css";
@import "../css/main.css";
@import "../css/footer.css";
@import "../css/toogle.css";

*, header, main, footer {
    font-family: "Poppins", sans-serif;
    --roxo-escuro: #441f88;
    --roxo-claro: #6c36cc;
    --branco: rgb(249, 249, 249);
    --cinza: #cccccc;
    --preto: #171717;
}
